!#define RANDBG #ff0c0c
!
urxvt*urgentOnBell: true

urxvt.depth:32
!urxvt*background: rgba:2222/2222/2222/FFFF
urxvt*blurRadius: 2
urxvt*scrollBar: False

urxvt.font:     xft:Terminus:size=12:antialias=false
urxvt.boldfont: xft:Terminus:bold:size=12:antialias=false
!urxvt.font:     xft:Inconsolata:style=Semibold:pixelsize=16:antialias=true:hinting=slight
!urxvt.font:     xft:Inconsolata:style=Semibold:pixelsize-16:antialias=false:hinting=slight
!urxvt.font:     xft:Inconsolata:style=bold:pixelsize=16:antialias=true:hinting=slight
urxvt.allow_bold: True

! IMPORT COLOR
#include "/home/patrick/.xcolors/ph_golden.xcolors"
