# Nuand bladeRF
ATTR{idVendor}=="2cf0", ATTR{idProduct}=="5246", TAG+="uaccess"

# Nuand bladeRF, legacy VID/PID
ATTR{idVendor}=="1d50", ATTR{idProduct}=="6066", TAG+="uaccess"

# Cypress Bootloader
ATTR{idVendor}=="04b4", ATTR{idProduct}=="00f3", TAG+="uaccess"
